# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Code::Blocks files
*.depend
*.layout

# Build folders
bin/
obj/
